# Versioning and metadata
.dockerignore

# Build dependencies
.next
node_modules

# Environment (contains sensitive data)
.env

# Files not required for production
.editorconfig
Dockerfile
README.md
.eslintignore
.eslintrc.js
nodemon.json
